# Copia este archivo a .env y ajusta los valores. .env NUNCA se sube a git.

DJANGO_SECRET_KEY=cambia-esto-por-una-llave-generada
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

POSTGRES_DB=bodega
POSTGRES_USER=bodega_user
POSTGRES_PASSWORD=cambia-esta-contrasena
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Solo para crear el primer superusuario administrador al levantar el proyecto:
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=cambia-esta-contrasena
DJANGO_SUPERUSER_EMAIL=admin@solucionesexactas.local
